<%= form_with model:[comment.user, comment], local: true do |form| %>
  <section id="one" >
		  <div class="inner">
			  <article class="box">
				  <header>
          
					<%= render "layouts/errors", :object => comment %>

            <p><%= form.text_field :content, :placeholder => "Comment"%></p>
            
				  </header>

				  <footer>
					  <%= form.submit  %>
			    </footer>
			  </article>
		  </div>

  </section>

<% end %>