<%= form_with model:[comment.user, comment], local: true do |form| %>
  <section id="one" >
		  <div class="inner">
			  <article class="box">
				  <header>
          
          <% if @user && @user.errors.any? %>
						<h2>Please correct these errors:</h2>
						<ul>
							<% @user.errors.full_messages.each do |errmsg| %>
								<li><%= errmsg %></li>
							<% end %>
						</ul>
          <% end %>

            <p><%= form.text_field :content, :placeholder => "Comment"%></p>
            
				  </header>

				  <footer>
					  <%= form.submit  %>
			    </footer>
			  </article>
		  </div>

  </section>

<% end %>