<h1>All Tasks</h1>
<% if !@tasks.nil? %>
	<% @tasks.each do |task| %>
		<%= render 'task', task: task %>
	<% end %>
<% else %>
	<%= link_to "Tasks is empty. Click here to create a new one", new_user_task_path(current_user) %>
<% end %>	