<h1>Create your account:</h1>
  
  <%= form_with model: @user do |f| %>
  <div>
    <%= f.label :admin, "Select for Admin user:"%>
    <%= f.check_box :admin %>
  </div>
  <% end %>
  <%= render "form" %>
