<h1>Hi <%= @user.name  %></h1>
<% @user.tasks.each do |task| %>
<ol>
  <li>
    <div>
      <p><%= task.title %></p>
    </div>
    <div>
      <p><%= task.description %></p>
    </div>
    <div>
      <p><%= task.comments %></p>
    </div>
  </li>
</ol>

<% end %>
